h3
{
    font-weight: bold;
}

body
{
    background-image: url(https://i.pinimg.com/originals/f2/48/63/f24863b5225434c5f3c77627005809cf.jpg);
    text-align: center;

}



h5,b,h4{

    color: white;
}



img
{
    margin:auto;
}



